<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="accountManagerApp.category.detail.title">Category</span> {{ category.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accountManagerApp.category.label">Label</span></dt>
                <dd>
                    <span>{{ category.label }}</span>
                </dd>
                <dt><span jhiTranslate="accountManagerApp.category.primaryColor">Primary Color</span></dt>
                <dd>
                    <div class="circle" [ngStyle]="{'background-color': category.primaryColor }"></div>
                </dd>
                <dt><span jhiTranslate="accountManagerApp.category.secondaryColor">Secondary Color</span></dt>
                <dd>
                    <div class="circle" [ngStyle]="{'background-color': category.secondaryColor }"></div>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="accountManagerApp.category.owner">Owner</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{ category.owner?.login }}
                </dd>
                <dt><span jhiTranslate="accountManagerApp.category.preview">Preview</span></dt>
                <dd>
                    <span class="badge bigger" [ngStyle]="{color: category.secondaryColor, background: category.primaryColor }">{{ category.label }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
