<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-heading" jhiTranslate="accountManagerApp.category.home.createOrEditLabel">Create or edit a Category</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accountManagerApp.category.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                    <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accountManagerApp.category.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                           formControlName="color"/>
                </div>

                <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <label class="form-control-label" jhiTranslate="accountManagerApp.category.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="owner">
                        <option *ngIf="!editForm.get('owner')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('owner')!.invalid && (editForm.get('owner')!.dirty || editForm.get('owner')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('owner')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
