<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="classificationRule">
            <h2><span jhiTranslate="accountManagerApp.classificationRule.detail.title">Classification Rule</span> {{ classificationRule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accountManagerApp.classificationRule.owner">Owner</span></dt>
                <dd>
                    {{ classificationRule.owner?.login }}
                </dd>
                <dt><span jhiTranslate="accountManagerApp.classificationRule.bankAccount">Bank Account</span></dt>
                <dd>
                    <div *ngIf="classificationRule.bankAccount">
                        <a [routerLink]="['/bank-account', classificationRule.bankAccount?.id, 'view']">{{ classificationRule.bankAccount?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/classification-rule', classificationRule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
