<div>
    <h2 id="page-heading">
        <span jhiTranslate="accountManagerApp.classificationRule.home.title">Classification Rules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-classification-rule" [routerLink]="['/classification-rule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="accountManagerApp.classificationRule.home.createLabel">
            Create a new Classification Rule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive" id="entities" *ngIf="classificationRules && classificationRules.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankAccount.id"><span jhiTranslate="accountManagerApp.classificationRule.bankAccount">Bank Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  ><span jhiTranslate="accountManagerApp.classificationRule.filterRules">Conditions</span> </th>
                    <th scope="col"  jhiSortBy="subCategory.category.label"><span jhiTranslate="accountManagerApp.classificationRule.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subCategory.label"><span jhiTranslate="accountManagerApp.classificationRule.subCategory">Sub Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="owner.login" *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="accountManagerApp.classificationRule.owner">Owner</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let classificationRule of classificationRules ;trackBy: trackId">
                    <td><a [routerLink]="['/classification-rule', classificationRule.id, 'view']">{{ classificationRule.id }}</a></td>
                    <td>
                        <div *ngIf="classificationRule.bankAccount">
                            <a [routerLink]="['/bank-account', classificationRule.bankAccount?.id, 'view']" >{{ classificationRule.bankAccount?.label }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let filterRule of classificationRule.filterRules ;">
                            {{ 'accountManagerApp.RuleField.' +  filterRule?.field | translate }} {{ 'accountManagerApp.RuleOperator.' + filterRule?.operator | translate }} {{ filterRule.stringValue }}{{ filterRule.numberValue }}{{ filterRule.dateValue | date:'mediumDate' }}
                        </div>
                    </td>
                    <td>
                        <span class="badge bigger" [ngStyle]="{color: classificationRule.subCategory?.category?.secondaryColor, background: classificationRule.subCategory?.category?.primaryColor }">{{ classificationRule.subCategory?.category?.label }}</span>
                    </td>
                    <td>
                        <div *ngIf="classificationRule.subCategory">
                            <a [routerLink]="['/sub-category', classificationRule.subCategory?.id, 'view']" >{{ classificationRule.subCategory?.label }}</a>
                        </div>
                    </td>
                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        {{ classificationRule.owner?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/classification-rule', classificationRule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/classification-rule', classificationRule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(classificationRule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="classificationRules?.length === 0">
        <span jhiTranslate="accountManagerApp.classificationRule.home.notFound">No classificationRules found</span>
    </div>
</div>
