<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-classification-rule-heading" jhiTranslate="accountManagerApp.classificationRule.home.createOrEditLabel">Create or edit a Classification Rule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accountManagerApp.classificationRule.bankAccount" for="field_bankAccount">Bank Account</label>
                    <select class="form-control" id="field_bankAccount" name="bankAccount" formControlName="bankAccount" (change)="setOwnerFromBankAccount(editForm.get('bankAccount')!.value)">
                        <option *ngIf="!editForm.get('bankAccount')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="bankAccountOption.id === editForm.get('bankAccount')!.value?.id ? editForm.get('bankAccount')!.value : bankAccountOption" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackById">{{ bankAccountOption.label }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('bankAccount')!.invalid && (editForm.get('bankAccount')!.dirty || editForm.get('bankAccount')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('bankAccount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accountManagerApp.classificationRule.filter.header" for="field_bankAccount">Transactions matching the following conditions</label>

                    <button type="button" class="btn btn-sm btn-info float-right mb-2" (click)="addFilterRule()">
                        <fa-icon icon="plus" class="align-middle mr-1"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="accountManagerApp.filterRule.home.createLabel">Add Condition</span>
                    </button>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let filterRule of editForm.get('filterRules')!.value; let i = index" >
                                    <td>
                                        {{ 'accountManagerApp.RuleField.' + filterRule.field | translate}}
                                    </td>
                                    <td>
                                        {{'accountManagerApp.RuleOperator.' + filterRule.operator | translate}}
                                    </td>
                                    <td>
                                        {{filterRule.stringValue}}
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary" (click)="editFilerRule(filterRule)">
                                                <fa-icon class="align-middle" icon="pencil-alt"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-danger" (click)="removeFilterRule(filterRule)">
                                                <fa-icon class="align-middle" icon="times"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accountManagerApp.classificationRule.subCategory" for="field_subCategory">Sub Category</label>
                    <select class="form-control" id="field_subCategory" name="subCategory" formControlName="subCategory">
                        <option *ngIf="!editForm.get('subCategory')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="subCategoryOption.id === editForm.get('subCategory')!.value?.id ? editForm.get('subCategory')!.value : subCategoryOption" *ngFor="let subCategoryOption of subcategories; trackBy: trackById">{{ subCategoryOption.label }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('subCategory')!.invalid && (editForm.get('subCategory')!.dirty || editForm.get('subCategory')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('subCategory')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
