<div>
    <h2 id="page-heading">
        <span jhiTranslate="accountManagerApp.transaction.home.title">Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="accountManagerApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
        <button id="jh-upload-file" class="btn btn-outline-secondary float-right jh-create-entity mr-2" (click)="uploadFile()" type="submit">
            <fa-icon icon="file-upload"></fa-icon>
            <span  jhiTranslate="accountManagerApp.transaction.home.uploadFile">
            Upload File
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="card border-info mb-3">
        <div class="card-body pb-0 pl-0">
            <div class="row">
                <!-- Partie gauche -->
                <div class="col-6">
                    <!-- Recherche par Date -->
                    <div class="form-group row">
                        <label for="dateSearch" class="col-sm-3 col-form-label col-form-label-sm text-right" jhiTranslate="accountManagerApp.transaction.date">Date</label>
                        <div id="dateSearch" class="d-inline-flex col-sm-9 pl-0 pr-0">
                            <span class="col-sm-6 pl-0 pr-0">
                                <jhi-date-picker name="minDateSearch" placeholder="{{ 'accountManagerApp.transaction.search.minDateSearch' | translate }}"
                                                 [(ngModel)]="minDateSearch" (ngModelChange)="search('date.greaterOrEqualThan', minDateSearch?.format(dateFormat))" ></jhi-date-picker>
                            </span>
                            <span class="col-sm-6 pl-0 pr-0">
                                <jhi-date-picker name="maxDateSearch" placeholder="{{ 'accountManagerApp.transaction.search.maxDateSearch' | translate }}"
                                                 [(ngModel)]="maxDateSearch" (ngModelChange)="search('date.lessOrEqualThan', maxDateSearch?.format(dateFormat))" ></jhi-date-picker>
                            </span>
                        </div>
                    </div>
                    <!-- Recherche par Montant -->
                    <div class="form-group row">
                        <label for="amountSearch" class="col-sm-3 col-form-label col-form-label-sm text-right" jhiTranslate="accountManagerApp.transaction.amount">Amount</label>
                        <div id="amountSearch" class="input-group d-inline-flex align-items-center col-sm-9 pl-0 pr-0">
                            <input type="number" class="form-control form-control-sm" id="minAmountSearch" name="minAmountSearch"
                                   [(ngModel)]="minAmountSearch" (keydown.enter)="search('amount.greaterOrEqualThan', minAmountSearch)"
                                   placeholder="{{ 'accountManagerApp.transaction.search.minAmountSearch' | translate }}" />
                            <input type="number" class="form-control form-control-sm" id="maxAmountSearch" name="maxAmountSearch"
                                   [(ngModel)]="maxAmountSearch" (keydown.enter)="search('amount.lessOrEqualThan', maxAmountSearch)"
                                   placeholder="{{ 'accountManagerApp.transaction.search.maxAmountSearch' | translate }}" />
                        </div>
                    </div>
                    <!-- Recherche par Description -->
                    <div class="form-group row">
                        <label for="labelSearch" class="col-sm-3 col-form-label col-form-label-sm text-right" jhiTranslate="accountManagerApp.transaction.label">Label</label>
                        <input type="text" class="form-control form-control-sm col-sm-9" id="labelSearch" name="labelSearch"
                               [(ngModel)]="labelSearch" (keydown.enter)="search('label.contains', labelSearch)"
                               placeholder="{{ 'accountManagerApp.transaction.search.label' | translate }}" />
                    </div>
                </div>

                <!-- Partie droite -->
                <div class="col-5">
                    <!-- Recherche par Compte -->
                    <div class="form-group row">
                        <label for="bankAccountSearch" class="col-sm-6 col-form-label col-form-label-sm text-right" jhiTranslate="accountManagerApp.transaction.bankAccount" >Bank Account</label>
                        <select class="custom-select custom-select-sm col-sm-6" id="bankAccountSearch" name="bankAccountSearch"
                                [(ngModel)]="bankAccountSearch" (change)="search('bankAccountId.equals', bankAccountSearch?.id)">
                            <option [ngValue]="0" selected></option>
                            <option [ngValue]="bankAccountOption" *ngFor="let bankAccountOption of bankAccounts; trackBy: trackById">{{ bankAccountOption.label }}</option>
                        </select>
                    </div>
                    <!-- Recherche par Catégories -->
                    <div class="form-group row">
                        <label for="categorySearch" class="col-sm-6 col-form-label col-form-label-sm text-right" jhiTranslate="accountManagerApp.transaction.category">Category</label>
                        <select class="custom-select custom-select-sm col-sm-6" id="categorySearch" name="categorySearch"
                                [(ngModel)]="categorySearch" (change)="search('categoryId.equals', categorySearch?.id)">
                            <option [ngValue]="0" selected></option>
                            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.label }}</option>
                        </select>
                    </div>
                    <!-- Recherche par Sous-Catégorie -->
                    <div class="form-group row">
                        <label for="subCategorySearch" class="col-sm-6 col-form-label col-form-label-sm text-right" jhiTranslate="accountManagerApp.transaction.subCategory">Sub Category</label>
                        <select class="custom-select custom-select-sm col-sm-6" id="subCategorySearch" name="subCategorySearch"
                                [(ngModel)]="subCategorySearch" (change)="search('subCategoryId.equals', subCategorySearch?.id)">
                            <option [ngValue]="0" selected></option>
                            <optgroup *ngFor="let categoryOption of categories; trackBy: trackById" label="{{categoryOption.label}}">
                                <option [ngValue]="subCategoryOption" *ngFor="let subCategoryOption of subcategories | filterObject:'category.id':categoryOption?.id; trackBy: trackById">{{ subCategoryOption.label }}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="mb-0 mt-0 text-secondary text-right">
        <small>
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </small>
    </p>

    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0 || fullCriteria">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
<!--                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="accountManagerApp.transaction.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="accountManagerApp.transaction.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="accountManagerApp.transaction.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="identifier"><span jhiTranslate="accountManagerApp.transaction.identifier">Identifier</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="bankAccount.label"><span jhiTranslate="accountManagerApp.transaction.bankAccount">Bank Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subCategory.category.label"><span jhiTranslate="accountManagerApp.transaction.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subCategory.label"><span jhiTranslate="accountManagerApp.transaction.subCategory">Sub Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions ;trackBy: trackId">
<!--                    <td><a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a></td>-->
                    <td>{{ transaction.date | date:'mediumDate' }}</td>
                    <td>{{ transaction.amount }} {{ transaction.bankAccount?.currency?.code }}</td>
                    <td>{{ transaction.label }}</td>
<!--                    <td>{{ transaction.identifier }}</td>-->
                    <td>
                        <div *ngIf="transaction.bankAccount">
                            <a [routerLink]="['/bank-account', transaction.bankAccount?.id, 'view']" >{{ transaction.bankAccount?.label }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="transaction.subCategory">
                            <span class="badge bigger" [ngStyle]="{color: transaction.subCategory?.category?.secondaryColor, background: transaction.subCategory?.category?.primaryColor }">{{ transaction.subCategory?.category?.label }}</span>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="transaction.subCategory">
                            <a [routerLink]="['/sub-category', transaction.subCategory?.id, 'view']" >{{ transaction.subCategory?.label }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span jhiTranslate="accountManagerApp.transaction.home.notFound">No transactions found</span>
    </div>

    <div *ngIf="transactions && transactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
