<div class="container-fluid justify-content-between mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <label class="form-control-label" jhiTranslate="accountManagerApp.transaction.bankAccount" for="field_bankAccount">Bank Account</label>
            <select class="custom-select" id="field_bankAccount" name="bankAccount" >
                <option *ngFor="let bankAccountOption of bankaccounts; trackBy: trackById">{{ bankAccountOption.label }}</option>
            </select>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-6 text-center">
            <label class="form-control-label" for="field_period">Period</label>
            <div class="input-group btn-group border border-1 border-secondary rounded-lg" role="group">
                <button type="button" class="btn btn-secondary"><fa-icon icon="chevron-left"></fa-icon></button>
                <select class="custom-select bg-transparent text-secondary border-top-0 border-bottom-0 border-secondary" id="field_period" name="period" >
                    <option value="'MONTH'">Month</option>
                    <option value="'YEAR'">Year</option>
                    <option value="'ALL'">Whole historic</option>
                </select>
                <button type="button" class="btn bg-transparent pr-2 pl-2" disabled>{{ selectorDisplayValue }}</button>
                <button type="button" class="btn btn-secondary"><fa-icon icon="chevron-right"></fa-icon></button>
            </div>
        </div>

    </div>
</div>
